body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    padding: 20px;
}
#quiz-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: #0056b3;
}

.next{
    background-color: #73777aca;
    justify-content: center;
    left: 50%;
}